main.svelte-11obvom {
  padding: 60px
}

code.svelte-11obvom {
  background-color: #f0f0f0;
  border-radius: 3px;
  padding: 4px
}

h1.svelte-11obvom {
  margin: 0;
  padding: 0
}

hr.svelte-11obvom {
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 1px
}

h1.svelte-11obvom {
  display: inline-block
}

.example.svelte-11obvom {
  margin-bottom: 40px
}

.tooltip.tooltip-theme {
  --tooltip-background-color: hotpink;
  --tooltip-box-shadow: 0 1px 8px pink
}

:root {
  --tooltip-background-color: rgba(0, 0, 0, .9);
  --tooltip-border-radius: 4px;
  --tooltip-box-shadow: 0 1px 20px rgba(0, 0, 0, .25);
  --tooltip-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tooltip-font-size: 14px;
  --tooltip-font-weight: 500;
  --tooltip-line-height: 1.25rem;
  --tooltip-color: #fff;
  --tooltip-offset-x: 12px;
  --tooltip-offset-y: 12px;
  --tooltip-padding: 12px;
  --tooltip-z-index: 100;
  --tooltip-arrow-size: 10px
}

.tooltip-container.svelte-1t0nhqc {
  position: relative
}

.tooltip.svelte-1t0nhqc {
  background-color: var(--tooltip-background-color);
  box-shadow: var(--tooltip-box-shadow);
  border-radius: var(--tooltip-border-radius);
  color: var(--tooltip-color);
  opacity: 0;
  font-family: var(--tooltip-font-family);
  font-size: var(--tooltip-font-size);
  font-style: normal;
  font-weight: var(--tooltip-font-weight);
  line-height: var(--tooltip-line-height);
  padding: var(--tooltip-padding);
  position: absolute;
  text-align: left;
  visibility: hidden;
  white-space: nowrap;
  z-index: var(--tooltip-z-index)
}

.tooltip.show.svelte-1t0nhqc {
  opacity: 1;
  visibility: visible;
  white-space: normal
}

.tooltip.bottom.svelte-1t0nhqc:after,
.tooltip.left.svelte-1t0nhqc:after,
.tooltip.right.svelte-1t0nhqc:after,
.tooltip.top.svelte-1t0nhqc:after {
  border: var(--tooltip-arrow-size) solid var(--tooltip-background-color);
  content: " ";
  position: absolute
}

.tooltip.arrowless.svelte-1t0nhqc:after {
  border: 0 !important
}

.tooltip.bottom.svelte-1t0nhqc {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y)))
}

.tooltip.bottom.svelte-1t0nhqc:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--tooltip-background-color);
  left: 50%;
  top: 0;
  transform: translate(-50%, -99%)
}

.tooltip.top.svelte-1t0nhqc {
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y)))
}

.tooltip.top.svelte-1t0nhqc:after {
  border-color: var(--tooltip-background-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 99%)
}

.tooltip.left.svelte-1t0nhqc {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%)
}

.tooltip.left.svelte-1t0nhqc:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--tooltip-background-color);
  right: 0;
  top: 50%;
  transform: translate(99%, -50%)
}

.tooltip.right.svelte-1t0nhqc {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%)
}

.tooltip.right.svelte-1t0nhqc:after {
  border-color: rgba(0, 0, 0, 0) var(--tooltip-background-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: 0;
  top: 50%;
  transform: translate(-99%, -50%)
}

.tooltip.animation-fade.svelte-1t0nhqc {
  opacity: 0;
  transition: opacity .3s ease-in-out
}

.tooltip.animation-fade.show.svelte-1t0nhqc {
  opacity: 1
}

.tooltip.top.animation-slide.svelte-1t0nhqc {
  margin-top: 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.top.animation-slide.show.svelte-1t0nhqc {
  margin-top: 0;
  opacity: 1
}

.tooltip.bottom.animation-slide.svelte-1t0nhqc {
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.bottom.animation-slide.show.svelte-1t0nhqc {
  margin-bottom: 0;
  opacity: 1
}

.tooltip.right.animation-slide.svelte-1t0nhqc {
  margin-right: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.right.animation-slide.show.svelte-1t0nhqc {
  margin-right: 0;
  opacity: 1
}

.tooltip.left.animation-slide.svelte-1t0nhqc {
  margin-left: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.left.animation-slide.show.svelte-1t0nhqc {
  margin-left: 0;
  opacity: 1
}

.tooltip.left.animation-puff.svelte-1t0nhqc {
  filter: blur(2px);
  opacity: 0;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.left.animation-puff.show.svelte-1t0nhqc {
  filter: blur(0);
  opacity: 1;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.right.animation-puff.svelte-1t0nhqc {
  filter: blur(2px);
  opacity: 0;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.right.animation-puff.show.svelte-1t0nhqc {
  filter: blur(0);
  opacity: 1;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.top.animation-puff.svelte-1t0nhqc {
  filter: blur(2px);
  opacity: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.top.animation-puff.show.svelte-1t0nhqc {
  filter: blur(0);
  opacity: 1;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.bottom.animation-puff.svelte-1t0nhqc {
  filter: blur(2px);
  opacity: 0;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.bottom.animation-puff.show.svelte-1t0nhqc {
  filter: blur(0);
  opacity: 1;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.left.animation-bounce.svelte-1t0nhqc {
  opacity: 0;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.left.animation-bounce.show.svelte-1t0nhqc {
  opacity: 1;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.right.animation-bounce.svelte-1t0nhqc {
  opacity: 0;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.right.animation-bounce.show.svelte-1t0nhqc {
  opacity: 1;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.top.animation-bounce.svelte-1t0nhqc {
  opacity: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.top.animation-bounce.show.svelte-1t0nhqc {
  opacity: 1;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.bottom.animation-bounce.svelte-1t0nhqc {
  opacity: 0;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.bottom.animation-bounce.show.svelte-1t0nhqc {
  opacity: 1;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1, 1)
}

html {
  margin: 0;
  padding: 0
}

body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  position: relative
}

html,
body {
  height: 100%
}

a {
  color: #0064c8;
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

a:visited {
  color: #0050a0
}

label {
  display: block
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: .4em;
  margin: 0 0 .5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px
}

input:disabled {
  color: #ccc
}

input[type=range] {
  height: 0
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none
}

button:disabled {
  color: #999
}

button:not(:disabled):active {
  background-color: #ddd
}

button:focus {
  border-color: #666
}

.github-ribbon {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100
}

pre[class*=language-].line-numbers {
  counter-reset: linenumber;
  padding-left: 3.8em;
  position: relative
}

pre[class*=language-].line-numbers>code {
  position: relative;
  white-space: inherit
}

.line-numbers .line-numbers-rows {
  border-right: 0;
  font-size: 100%;
  left: -3.8em;
  letter-spacing: -1px;
  position: absolute;
  pointer-events: none;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 3em
}

.line-numbers-rows>span {
  counter-increment: linenumber;
  display: block
}

.line-numbers-rows>span:before {
  color: #495162;
  content: counter(linenumber);
  display: block;
  padding-right: .8em;
  text-align: right
}

code[class*=language-],
pre[class*=language-] {
  background: #f3f3f3;
  color: #e06c75;
  direction: ltr;
  font-family: "ui-monospace", "SFMono-Regular", Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
  -webkit-hyphens: none;
  hyphens: none;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  text-align: left;
  text-shadow: none;
  white-space: pre;
  word-break: normal;
  word-spacing: normal
}

code[class*=language-]::-moz-selection,
code[class*=language-] *::-moz-selection,
pre[class*=language-] *::-moz-selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none
}

code[class*=language-]::-moz-selection,
code[class*=language-] *::-moz-selection,
pre[class*=language-] *::-moz-selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none
}

code[class*=language-]::-moz-selection,
code[class*=language-] *::-moz-selection,
pre[class*=language-] *::-moz-selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none
}

code[class*=language-]::selection,
code[class*=language-] *::selection,
pre[class*=language-] *::selection {
  background: #3e4451;
  color: inherit;
  text-shadow: none
}

pre[class*=language-] {
  border-radius: .3em;
  margin: .5em 0;
  overflow: auto;
  padding: 1em
}

:not(pre)>code[class*=language-] {
  border-radius: .3em;
  padding: .2em .3em;
  white-space: normal
}

@media print {

  code[class*=language-],
  pre[class*=language-] {
    text-shadow: none
  }
}

.token.comment,
.token.prolog,
.token.cdata {
  color: #7a7f89
}

.token.doctype,
.token.punctuation,
.token.entity {
  color: #abb2bf
}

.token.attr-name,
.token.class-name,
.token.boolean,
.token.constant,
.token.number,
.token.atrule {
  color: #d4b375
}

.token.keyword {
  color: #9661a9
}

.token.property,
.token.tag,
.token.symbol,
.token.deleted,
.token.important {
  color: #e06c75
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted,
.token.regex,
.token.attr-value,
.token.attr-value>.token.punctuation {
  color: #98c379
}

.token.variable,
.token.operator,
.token.function {
  color: #61afef
}

.token.url {
  color: #56b6c2
}

.token.attr-value>.token.punctuation.attr-equals,
.token.special-attr>.token.attr-value>.token.value.css {
  color: #abb2bf
}

.language-css .token.selector {
  color: #e06c75
}

.language-css .token.property {
  color: #abb2bf
}

.language-css .token.function,
.language-css .token.url>.token.function {
  color: #56b6c2
}

.language-css .token.token.string.url {
  color: #98c379
}

.language-css .token.important,
.language-css .token.atrule .token.rule {
  color: #c678dd
}

.language-javascript .token.operator {
  color: #c678dd
}

.language-javascript .token.template-string>.token.interpolation>.token.interpolation-punctuation.punctuation {
  color: #be5046
}

.language-json .token.operator {
  color: #abb2bf
}

.language-json .token.null.keyword {
  color: #d19a66
}

.language-markdown .token.url,
.language-markdown .token.url>.token.operator,
.language-markdown .token.url-reference.url>.token.string {
  color: #abb2bf
}

.language-markdown .token.url>.token.content {
  color: #61afef
}

.language-markdown .token.url>.token.url,
.language-markdown .token.url-reference.url {
  color: #56b6c2
}

.language-markdown .token.blockquote.punctuation,
.language-markdown .token.hr.punctuation {
  color: #5c6370;
  font-style: italic
}

.language-markdown .token.code-snippet {
  color: #98c379
}

.language-markdown .token.bold .token.content {
  color: #d19a66
}

.language-markdown .token.italic .token.content {
  color: #c678dd
}

.language-markdown .token.strike .token.content,
.language-markdown .token.strike .token.punctuation,
.language-markdown .token.list.punctuation,
.language-markdown .token.title.important>.token.punctuation {
  color: #e06c75
}

.token.bold {
  font-weight: bold
}

.token.comment,
.token.italic {
  font-style: italic
}

.token.entity {
  cursor: help
}

.token.namespace {
  opacity: .8
}

:root {
  --tooltip-background-color: rgba(0, 0, 0, .9);
  --tooltip-border-radius: 4px;
  --tooltip-box-shadow: 0 1px 20px rgba(0, 0, 0, .25);
  --tooltip-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --tooltip-font-size: 14px;
  --tooltip-font-weight: 500;
  --tooltip-line-height: 1.25rem;
  --tooltip-color: #fff;
  --tooltip-offset-x: 12px;
  --tooltip-offset-y: 12px;
  --tooltip-padding: 12px;
  --tooltip-z-index: 100;
  --tooltip-arrow-size: 10px
}

.tooltip.svelte-rfld6c {
  background-color: var(--tooltip-background-color);
  box-shadow: var(--tooltip-box-shadow);
  border-radius: var(--tooltip-border-radius);
  color: var(--tooltip-color);
  font-family: var(--tooltip-font-family);
  font-size: var(--tooltip-font-size);
  font-style: normal;
  font-weight: var(--tooltip-font-weight);
  line-height: var(--tooltip-line-height);
  padding: var(--tooltip-padding);
  position: absolute;
  text-align: left;
  white-space: nowrap;
  z-index: var(--tooltip-z-index)
}

.tooltip.show.svelte-rfld6c {
  white-space: normal
}

.tooltip.bottom.svelte-rfld6c:after,
.tooltip.left.svelte-rfld6c:after,
.tooltip.right.svelte-rfld6c:after,
.tooltip.top.svelte-rfld6c:after {
  border: var(--tooltip-arrow-size) solid var(--tooltip-background-color);
  content: " ";
  position: absolute
}

.tooltip.arrowless.svelte-rfld6c:after {
  border: 0 !important
}

.tooltip.bottom.svelte-rfld6c {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y)))
}

.tooltip.bottom.svelte-rfld6c:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--tooltip-background-color);
  left: 50%;
  top: 0;
  transform: translate(-50%, -99%)
}

.tooltip.top.svelte-rfld6c {
  left: 50%;
  top: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y)))
}

.tooltip.top.svelte-rfld6c:after {
  border-color: var(--tooltip-background-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 99%)
}

.tooltip.left.svelte-rfld6c {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%)
}

.tooltip.left.svelte-rfld6c:after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) var(--tooltip-background-color);
  right: 0;
  top: 50%;
  transform: translate(99%, -50%)
}

.tooltip.right.svelte-rfld6c {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%)
}

.tooltip.right.svelte-rfld6c:after {
  border-color: rgba(0, 0, 0, 0) var(--tooltip-background-color) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  left: 0;
  top: 50%;
  transform: translate(-99%, -50%)
}

.tooltip.animation-fade.svelte-rfld6c {
  opacity: 0;
  transition: opacity .3s ease-in-out
}

.tooltip.animation-fade.show.svelte-rfld6c {
  opacity: 1
}

.tooltip.top.animation-slide.svelte-rfld6c {
  margin-top: 10px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.top.animation-slide.show.svelte-rfld6c {
  margin-top: 0;
  opacity: 1
}

.tooltip.bottom.animation-slide.svelte-rfld6c {
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.bottom.animation-slide.show.svelte-rfld6c {
  margin-bottom: 0;
  opacity: 1
}

.tooltip.right.animation-slide.svelte-rfld6c {
  margin-right: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.right.animation-slide.show.svelte-rfld6c {
  margin-right: 0;
  opacity: 1
}

.tooltip.left.animation-slide.svelte-rfld6c {
  margin-left: 20px;
  opacity: 0;
  transition: opacity .3s ease-in-out, margin .3s ease-in-out
}

.tooltip.left.animation-slide.show.svelte-rfld6c {
  margin-left: 0;
  opacity: 1
}

.tooltip.left.animation-puff.svelte-rfld6c {
  filter: blur(2px);
  opacity: 0;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.left.animation-puff.show.svelte-rfld6c {
  filter: blur(0);
  opacity: 1;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.right.animation-puff.svelte-rfld6c {
  filter: blur(2px);
  opacity: 0;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.right.animation-puff.show.svelte-rfld6c {
  filter: blur(0);
  opacity: 1;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.top.animation-puff.svelte-rfld6c {
  filter: blur(2px);
  opacity: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.top.animation-puff.show.svelte-rfld6c {
  filter: blur(0);
  opacity: 1;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.bottom.animation-puff.svelte-rfld6c {
  filter: blur(2px);
  opacity: 0;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(2, 2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, filter .3s ease-in-out, transform .3s ease-in-out
}

.tooltip.bottom.animation-puff.show.svelte-rfld6c {
  filter: blur(0);
  opacity: 1;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.left.animation-bounce.svelte-rfld6c {
  opacity: 0;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.left.animation-bounce.show.svelte-rfld6c {
  opacity: 1;
  transform: translate(calc(-100% - var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.right.animation-bounce.svelte-rfld6c {
  opacity: 0;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.right.animation-bounce.show.svelte-rfld6c {
  opacity: 1;
  transform: translate(calc(100% + var(--tooltip-offset-x)), -50%) scale(1, 1)
}

.tooltip.top.animation-bounce.svelte-rfld6c {
  opacity: 0;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.top.animation-bounce.show.svelte-rfld6c {
  opacity: 1;
  transform: translate(-50%, calc(-100% - var(--tooltip-offset-y))) scale(1, 1)
}

.tooltip.bottom.animation-bounce.svelte-rfld6c {
  opacity: 0;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1.2, 1.2);
  transform-origin: 50% 50%;
  transition: opacity .3s ease-in-out, transform .3s cubic-bezier(0.5, -1, 0.5, 3)
}

.tooltip.bottom.animation-bounce.show.svelte-rfld6c {
  opacity: 1;
  transform: translate(-50%, calc(100% + var(--tooltip-offset-y))) scale(1, 1)
}
