pre[class*="language-"].line-numbers {
  counter-reset: linenumber;
  padding-left: 3.8em;
  position: relative;
}

pre[class*="language-"].line-numbers>code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  border-right: 0;
  font-size: 100%;
  left: -3.8em;
  letter-spacing: -1px;
  position: absolute;
  pointer-events: none;
  top: 0;
  user-select: none;
  width: 3em;
}

.line-numbers-rows>span {
  counter-increment: linenumber;
  display: block;
}

.line-numbers-rows>span:before {
  color: #495162;
  content: counter(linenumber);
  display: block;
  padding-right: 0.8em;
  text-align: right;
}
